.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px var(--base-padding) 0;
}

@media (min-width: 1100px) {
  .header {
    display: none;
  }
}
