.container {
	color: #ffffff;

	padding-top: var(--module-spacing-xl);
	padding-bottom: var(--module-spacing-xl);

	position: relative;

	> div {
		max-width: 1200px;
		width: 100%;
	}

	&::before {
		content: "";
		background: var(--secondary);
		transform: translate(-50%, -50%) rotateZ(-3deg);

		position: absolute;
		top: 50%;
		left: 50%;
		width: 105vw;
		height: 100%;

		z-index: -1;
	}
}

.title {
	margin-bottom: 16px;
}

.header {
	margin: 0 auto 48px;
	max-width: 800px;
	text-align: center;
	width: 100%;
}

.items {
	display: flex;
	flex-wrap: wrap;
	gap: 40px 24px;
	margin-top: 48px;
	justify-content: center;

	@media (min-width: 768px) {
		gap: 48px 32px;
	}

	@media (min-width: 1024px) {
		gap: 56px 40px;
	}
}

.item {
	text-align: center;
	min-width: 200px;
}

.fact {
	font-family: var(--font-headline);
	font-size: 44px;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 8px;

	@media (min-width: 768px) {
		font-size: 48px;
	}
}
