.list {
	--font-spacing-adjust: 2px;

	list-style: none;
	margin: 0;

	@media (min-width: 1024px) {
		padding: 0 50px 0 30px;
		height: calc(var(--header-height) - 1px);
		display: flex;
	}
}

.link {
	display: flex;
	align-items: center;
	gap: 4px;
	color: #000;
	text-decoration: none;
	font-weight: 500;
	font-family: var(--font-body);
	text-transform: uppercase;
	border-radius: var(--radius-sm);
}

@media (min-width: 1024px) {
	.left,
	.right {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 2px;
	}
	.left {
		width: 380px;
		margin-right: 140px;
		gap: 2px;
	}

	.right {
		flex: 1;
	}
}
