.container {
	text-align: center;
}

.quote {
	margin: 0 0 42px;

	svg {
		color: #d5d5d5;
		margin-bottom: 10px;
		width: 70px;
		height: 70px;

		@media (min-width: 640px) {
			width: 90px;
			height: 90px;
		}
	}
}

.quoteText {
	font-size: 44px;
	line-height: 1.2;
	font-family: var(--font-headline);
	font-style: italic;
	font-weight: 600;
	text-wrap: pretty;
	margin: 0;

	&::before {
		content: open-quote;
	}

	&::after {
		content: close-quote;
	}

	@media (min-width: 640px) {
		font-size: 60px;
	}
}

:lang(en) .quoteText {
	quotes: "\201C" "\201D";
}

:lang(de) .quoteText {
	quotes: "\201E" "\201C";
}

.attribution {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;

	@media (min-width: 500px) {
		flex-direction: row;
		justify-content: center;
	}
}

.imageWrapper {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
}

.imageWrapper img {
	object-fit: cover;
}

.personInfo {
	display: flex;
	flex-direction: column;
	text-align: left;

	@media (max-width: 499px) {
		text-align: center;
	}
}

.name {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
}

.role {
	font-size: 20px;
	color: #666;
}
