.list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.horizontal {
	display: flex;
	gap: 20px;
}

.vertical {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.link {
	display: flex;
	align-items: center;
	color: inherit;
	transition: transform 120ms ease-out;

	&:hover {
		transform: scale(1.2);
	}
}
