.container {
}

.people {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.person {
}

.imageWrapper {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.person img {
  object-fit: cover;
}

.person figure {
  margin: 0;
}
