.container {
}

.columns {
	--max-columns: 3;

	display: grid;
	grid-template-columns: 1fr;
	gap: 32px;

	@media (min-width: 600px) {
		grid-template-columns: repeat(min(2, var(--max-columns)), 1fr);
	}

	@media (min-width: 900px) {
		grid-template-columns: repeat(var(--max-columns), 1fr);
	}
}

.verticalCard {
	display: flex;
	flex-direction: column;
	aspect-ratio: 9 / 12;
	border-radius: 24px;
	cursor: pointer;

	position: relative;
	overflow: hidden;

	@media (min-width: 900px) {
		aspect-ratio: 9 / 16;
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 65%, rgba(0, 0, 0, 0.84) 100%);
		z-index: 1;
	}

	img {
		object-fit: cover;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		transition: transform 0.3s ease;
	}

	a,
	button {
		border-radius: 20px;
	}
}

.verticalCard:hover {
	@media (hover: hover) and (pointer: fine) {
		img {
			transform: scale(1.03);
		}
	}
}

.verticalCardContent {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	color: white;

	padding: 24px;
	height: 100%;
	z-index: 2;

	h3 {
		font-size: 44px;
		line-height: 1.1;
	}
}
