.link {
	border-radius: 50%;
	outline: 3px solid transparent;
	outline-offset: 3px;
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border 125ms ease-out;

	&:hover {
		outline-color: dodgerblue;
	}

	&:focus-visible {
		border-radius: 50%;
		outline-offset: 3px;
	}
}
