.container {
	position: relative;
	overflow: hidden;
	/* This clip-path was a work in progress - might come back to it */
	/* clip-path: polygon(100% 0, 100% 75%, 60% 82%, 0 70%, 0 0); */
}

.content {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	position: absolute;
	top: var(--base-spacing);
	left: var(--base-spacing);
	bottom: var(--base-spacing);
	right: var(--base-spacing);
}

.full {
	height: 100vh;
	/* biome-ignore lint/suspicious/noDuplicateProperties: this is a fallback */
	height: 100svh;

	@media (min-width: 1044px) {
		height: 80vh;
		/* biome-ignore lint/suspicious/noDuplicateProperties: this is a fallback */
		height: 80svh;
	}
}

.reduced {
	height: 100vh;
	/* biome-ignore lint/suspicious/noDuplicateProperties: this is a fallback */
	height: 100svh;

	@media (min-width: 1044px) {
		height: 60vh;
		/* biome-ignore lint/suspicious/noDuplicateProperties: this is a fallback */
		height: 60svh;
	}
}

.bigText {
	margin-bottom: 100px;

	@media (min-width: 1044px) {
		margin-bottom: 150px;
	}
}

.headline {
	display: flex;
	justify-content: flex-end;
	text-align: right;
	line-height: 1;
	color: #fff;
	font-size: 20vw;

	width: 1px;
	z-index: 1;

	@media (min-width: 800px) {
		font-size: 140px;
	}
}

.images {
	position: absolute;
	inset: 0;

	@media (min-width: 1044px) {
		top: var(--base-spacing);
		left: var(--base-spacing);
		bottom: var(--base-spacing);
		right: var(--base-spacing);
		border-radius: var(--radius-xl);
		overflow: hidden;
	}

	img {
		object-fit: cover;
	}
}

.imageCount1 img {
	/* TBD */
}

.imageCount2,
.imageCount3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--base-spacing);

	div {
		border-radius: var(--radius-xl);
		position: relative;
		overflow: hidden;
	}

	@media (min-width: 1024px) {
		grid-template-columns: 4fr 8fr;
	}
}

/* WIP: You were trying to figure out image layout for 2 or 3 images on mobile */
.imageCount3 {
	@media (min-width: 1024px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
