.container {
	position: relative;
	height: 100vh;
	height: 100svh;
	overflow: hidden;
}

@media (min-width: 1044px) {
	.container {
		height: 80vh;
	}
}

.content {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	position: absolute;
	top: var(--base-padding);
	left: var(--base-padding);
	bottom: var(--base-padding);
	right: var(--base-padding);
}

.full {
}

.reduced {
}

.headline {
	display: flex;
	justify-content: flex-end;
	text-align: right;

	color: #fff;
	font-size: 70px;
	line-height: 70px;

	width: 1px;
	z-index: 1;
}

@media (min-width: 800px) {
	.headline {
		font-size: 140px;
		line-height: 130px;
	}
}

.image {
	object-fit: cover;
	position: absolute;
}
