.container {
	position: relative;
	overflow: hidden;
	/* clip-path: polygon(100% 0, 100% 75%, 60% 82%, 0 70%, 0 0); */
}

.content {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	position: absolute;
	top: var(--base-spacing);
	left: var(--base-spacing);
	bottom: var(--base-spacing);
	right: var(--base-spacing);
}

.full {
	height: 100vh;
	@media (min-width: 1044px) {
		height: 80vh;
	}
}

.reduced {
	height: 100vh;
	@media (min-width: 1044px) {
		height: 60vh;
	}
}

.headline {
	display: flex;
	justify-content: flex-end;
	text-align: right;
	line-height: 1;
	color: #fff;
	font-size: 20vw;

	width: 1px;
	z-index: 1;

	@media (min-width: 800px) {
		font-size: 140px;
	}
}

.visualHeadline {
	position: absolute;
	right: -10vw;
	bottom: -1vw;
	font-size: 40vw;
	font-family: var(--font-headline);
	text-transform: uppercase;
	opacity: 0.25;
	line-height: 1;
	width: max-content;

	@media (min-width: 800px) {
		font-size: 30vw;
	}

	@media (min-width: 1040px) {
		font-size: 20vw;
	}
}

.image {
	object-fit: cover;
	position: absolute;
}
