.container {
	display: grid;
	place-items: center;
	position: relative;
	overflow: hidden;

	/* This clip-path was a work in progress - might come back to it */
	/* clip-path: polygon(100% 0, 100% 75%, 60% 82%, 0 70%, 0 0); */
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	text-align: center;

	position: relative;
	height: 100%;
	width: 60vw;

	z-index: 1;
}

.full {
	height: 100vh;
	/* biome-ignore lint/suspicious/noDuplicateProperties: this is a fallback */
	height: 100svh;

	@media (min-width: 1044px) {
		height: 100vh;
		/* biome-ignore lint/suspicious/noDuplicateProperties: this is a fallback */
		height: 100svh;
	}
}

.reduced {
	height: 100vh;
	/* biome-ignore lint/suspicious/noDuplicateProperties: this is a fallback */
	height: 100svh;

	@media (min-width: 1044px) {
		height: 70vh;
		/* biome-ignore lint/suspicious/noDuplicateProperties: this is a fallback */
		height: 70svh;
	}
}

.bigText {
	margin-bottom: 100px;

	@media (min-width: 1044px) {
		margin-bottom: 150px;
	}
}

.headline {
	line-height: 1;
	color: #fff;
	font-size: 12vw;

	z-index: 1;

	@media (min-width: 800px) {
		font-size: 74px;
	}
}

.text {
	color: #fff;
	font-size: 20px;
}

.image {
	position: absolute;
	inset: 0;
	overflow: hidden;

	img {
		object-fit: cover;
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background:
			radial-gradient(ellipse 120% 100% at 50% 100%, rgba(0 0 0 / 0.4) 0%, transparent 20%),
			radial-gradient(ellipse 100% 80% at 0% 50%, rgba(0 0 0 / 0.2) 0%, transparent 100%),
			radial-gradient(ellipse 100% 80% at 100% 50%, rgba(0 0 0 / 0.2) 0%, transparent 10%);
		pointer-events: none;
	}

	@media (min-width: 1044px) {
		top: var(--base-spacing);
		left: var(--base-spacing);
		bottom: var(--base-spacing);
		right: var(--base-spacing);
		border-radius: var(--radius-xl);
	}
}
