.container {
  background: var(--primary);
  /* border-radius: var(--radius-lg); */
  color: #fff;

  height: calc(100vh - 40px);
  height: calc(100svh - 40px);

  /* margin: 0 var(--base-padding) var(--base-padding); */
  padding: 20px;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;

  @media (min-width: 800px) {
    height: 35vw;
    height: 35svw;
  }
}

.headline {
  font-family: "Oswald";
  color: #fff;
  font-size: 12vh;
  font-size: 12svh;
  text-align: center;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 2.5vh;
  bottom: 2.5svh;
  user-select: none;
  z-index: 0;

  writing-mode: vertical-lr;
  transform: rotateZ(180deg);

  @media (min-width: 800px) {
    font-size: 15vw;
    font-size: 15svw;
    top: -2.5vw;
    top: -2.5svw;
    left: 0;
    right: 0;
    bottom: auto;
    writing-mode: horizontal-tb;
    transform: rotateZ(0);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  gap: 36px;

  @media (min-width: 800px) {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
