.container {
	--header-height: 50px;
	--clip-angle: 18px;
	--border-radius: calc(var(--header-height) / 2);

	display: flex;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);

	margin-top: 50px;
	padding: 0 20px;
	height: var(--header-height);
	max-width: 1000px;
	width: 100%;

	filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));

	z-index: 3;
}

@media (prefers-reduced-motion: no-preference) {
	.container {
		transition: transform 0.25s ease-in-out;
	}
}

.hidden {
	transform: translateX(-50%) translateY(-30%) scale(0.9);
}

.container > div {
	background-color: white;
	height: var(--header-height);
}

.container > div:first-of-type {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
	clip-path: polygon(0 0, 100% 0, calc(100% - var(--clip-angle)) var(--header-height), 0 var(--header-height));
	flex: 1;
}

.container > div:last-of-type {
	display: grid;
	place-items: center;
	box-sizing: border-box;
	padding-left: 10px;
	margin-left: calc(var(--clip-angle) * -0.5);
	width: calc(80px + var(--clip-angle));

	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);

	clip-path: polygon(var(--clip-angle) 0, 100% 0, 100% var(--header-height), 0 var(--header-height));
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -58%;
	z-index: 1;
}

.logo img {
	width: 120px;
}

@container (min-width: 1024px) {
	.container {
		--header-height: 70px;
		--clip-angle: 30px;
	}
	.logo {
		top: -40%;
	}
	.logo img {
		width: 140px;
	}
}
