.nav {
  flex: 1;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: calc(var(--base-padding) * 2);
}

.item {
  margin: 4px 0;
}

.link {
  color: black;
  font-weight: 600;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--primary);
  }
}

.icon {
  position: relative;
  top: 1px;
  margin-left: 3px;
}
