.container {
}

.headline {
	margin-bottom: var(--module-spacing-s);
}

.posts {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--module-spacing-s);
	list-style: none;
	padding: 0;
	margin: 0;
}

@media (min-width: 600px) {
	.posts {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 900px) {
	.posts {
		grid-template-columns: repeat(3, 1fr);
	}
}

.cardLink {
	text-decoration: none;
	color: inherit;
}

.cardLink::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.card {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.imageWrapper {
	border-radius: var(--radius-lg);
	position: relative;
	width: 100%;
	aspect-ratio: 16 / 9;
	overflow: hidden;
	background-color: #f0f0f0;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.card:hover .image {
	transform: scale(1.05);
}

.card:hover .title {
	text-decoration: underline;
}

.content {
	padding-top: 12px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.meta {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.875rem;
	margin-bottom: 16px;
}

.author {
	display: flex;
	align-items: center;
	gap: 8px;
}

.authorImage {
	border-radius: 50%;
	object-fit: cover;
}

.title {
	font-weight: 700;
	margin: 0 0 12px 0;
	line-height: 1.3;
}

.hook {
	font-size: 1.1rem;
	margin: 0 0 12px 0;
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.labels {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: auto;
	list-style: none;
	padding: 0;
}
