body {
	background-color: oklch(1 0 175);
	background-size: 200px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTUwIDE1MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8ZmlsdGVyIGlkPSJub2lzZUZpbHRlciI+CiAgICA8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMyIgbnVtT2N0YXZlcz0iMiIgcmVzdWx0PSJub2lzZSIgLz4KICAgIDxmZUNvbG9yTWF0cml4IHR5cGU9InNhdHVyYXRlIiB2YWx1ZXM9IjAiIHJlc3VsdD0iZ3JheXNjYWxlIiAvPgogICAgPGZlQ29tcG9uZW50VHJhbnNmZXI+CiAgICAgIDxmZUZ1bmNBIGluPSJncmF5c2NhbGUiIHR5cGU9ImxpbmVhciIgc2xvcGU9IjAuNCIgcmVzdWx0PSJ1cGRhdGVkIiAvPgogICAgPC9mZUNvbXBvbmVudFRyYW5zZmVyPgogICAgPGZlTWVyZ2U+CiAgICAgIDxmZU1lcmdlTm9kZSBpbj0ibm9pc2UiIC8+CiAgICAgIDxmZU1lcmdlTm9kZSBpbj0idXBkYXRlZCIgLz4KICAgIDwvZmVNZXJnZT4KICA8L2ZpbHRlcj4KICA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBvcGFjaXR5PSIwLjE5IiBmaWx0ZXI9InVybCgjbm9pc2VGaWx0ZXIpIi8+Cjwvc3ZnPg==);

	font-family: var(--font-body), -apple-system, sans-serif;
	font-weight: 300;
	font-size: 1.2rem;

	box-sizing: border-box;
	margin: 0;
	overflow-x: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

pre {
	overflow-wrap: break-word;
	word-break: break-all;
	white-space: normal;
}

a,
button,
input,
textarea {
	&:focus-visible {
		border-radius: var(--radius-xs);
		outline: 3px solid dodgerblue;
		outline-offset: 2px;
	}
}

h1,
h2 {
	font-size: 48px;
	line-height: 1.1;
}

/* If supported, trim vertical space from font, else rely on less accurate line-height: 1 */
@supports (text-box: trim-both cap alphabetic) {
	h1,
	h2,
	h3,
	h4,
	h5 {
		text-box: trim-both cap alphabetic;
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--font-headline);
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0 0 0.5rem 0;
}

p,
dl {
	margin: 0 0 1rem 0;
}

dt {
	margin: 0 0 0.5rem 0;
}

dd {
	margin: 0;
}

p {
	text-wrap: pretty;
}

p a {
	color: inherit;
	text-decoration: underline;
	text-underline-offset: 4px;
	transition: all 0.175s ease-out;
	text-decoration-skip-ink: auto;
	text-decoration-color: var(--primary);

	&:hover {
		text-underline-offset: 6px;
	}
}

.global-contain-width {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 calc(var(--base-spacing) * 2);

	@media screen and (min-width: 1044px) {
		padding: 0;
	}
}

.global-full-width > div {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 calc(var(--base-spacing) * 2);

	@media screen and (min-width: 1044px) {
		padding: 0;
	}
}

.global-module-spacing {
	margin-top: var(--module-spacing-s);
	margin-bottom: var(--module-spacing-s);

	@media screen and (min-width: 1044px) {
		margin-top: var(--module-spacing-l);
		margin-bottom: var(--module-spacing-l);
	}
}
.global-top-gradient {
	margin-top: 200px;

	@media (min-width: 1044px) {
		margin-top: 230px;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 500px;
		filter: contrast(95%);
		background-image:
			linear-gradient(45deg, rgb(255, 255, 255) 0%, transparent 36%),
			repeating-linear-gradient(
				135deg,
				rgba(197, 197, 197, 0.1) 0px,
				rgba(197, 197, 197, 0.1) 1px,
				transparent 1px,
				transparent 11px
			),
			repeating-linear-gradient(
				45deg,
				rgba(197, 197, 197, 0.1) 0px,
				rgba(197, 197, 197, 0.1) 1px,
				transparent 1px,
				transparent 11px
			), linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
		mask-image: linear-gradient(180deg, #000 20%, transparent 100%);
		z-index: -1;
	}
}
