:root {
	--light-background: #fdfdfd;

	--radius-xs: 4px;
	--radius-sm: 8px;
	--radius-md: 12px;
	--radius-lg: 20px;
	--radius-xl: 28px;

	--sidebar-width: 275px;
	--base-spacing: 10px;

	--module-spacing-s: 32px;
	--module-spacing-l: 80px;
	--module-spacing-xl: 120px;

	@media (min-width: 800px) {
		--base-spacing: 16px;
	}
}
