.wrapper {
	container-type: inline-size;
}

.header {
	text-align: center;
	max-width: 70ch;
	margin-inline: auto;
	margin-bottom: var(--module-spacing-s);
	padding: 0 calc(var(--base-spacing) * 2);

	h1 {
		text-wrap: balance;
	}

	@media (min-width: 1044px) {
		padding: 0;
		margin-bottom: 60px;
	}
}

.subtitle {
	margin-top: 16px;
}

.hero {
	margin: 0 auto;
	position: relative;
	aspect-ratio: 1;
	margin-bottom: var(--module-spacing-s);
	max-width: 1044px;
	width: 90%;

	@media (min-width: 600px) {
		aspect-ratio: 5 / 3;
	}
}

.heroImage {
	border-radius: var(--radius-xl);
}

.meta {
	max-width: 70ch;
	margin-inline: auto;
	margin-bottom: var(--module-spacing-s);
	padding: 0 calc(var(--base-spacing) * 2);
	display: flex;
	flex-direction: column;
	gap: 24px;

	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	@media (min-width: 1044px) {
		padding: 0;
		margin-bottom: var(--module-spacing-s);
	}
}

.author {
	display: flex;
	align-items: center;
	gap: 16px;
}

.metadata {
	display: flex;
	flex-direction: column;
	gap: 12px;

	@media (min-width: 768px) {
		align-items: flex-end;
	}
}

.authorAvatar {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	object-fit: cover;
}

.authorPlaceholder {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background-color: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: 500;
	color: #666;
}

.authorName {
	font-weight: 500;
}

.authorRole {
	color: #666;
	font-size: 16px;
}

.labels {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	list-style: none;
	margin: 0;
	padding: 0;

	@media (min-width: 768px) {
		justify-content: flex-end;
	}
}

.publishedDate {
	font-size: 16px;
}

.readingTime {
	font-size: 16px;
	margin: 0;
	display: inline-flex;
	gap: 8px;
	color: var(--secondary);
	outline: 1px dashed var(--secondary);
	padding: 3px 12px;
	border-radius: var(--radius-md);
}

.content {
	max-width: 70ch;
	margin-inline: auto;
	line-height: 1.6;
	padding: 0 calc(var(--base-spacing) * 2) var(--module-spacing-s);

	> :last-child {
		margin-bottom: 0;
	}

	@media (min-width: 1044px) {
		padding: 0 0 var(--module-spacing-l);
	}
}
