.container {
	background: #cfedff;

	padding-top: var(--module-spacing-s);
	padding-bottom: var(--module-spacing-s);

	@media screen and (min-width: 1044px) {
		padding-top: var(--module-spacing-l);
		padding-bottom: var(--module-spacing-l);
	}

	> div {
		max-width: 700px;
		width: 100%;
	}
}

.title {
	text-align: center;
}

.questions {
	margin-top: var(--module-spacing-s);
}

.details {
	background: white;
	border-radius: 16px;
	padding: 20px;

	display: flex;
	flex-direction: column;

	&[open] {
		gap: 10px;
	}

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	&:has(summary:focus-visible) {
		outline: 3px solid dodgerblue;
	}
}

.summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--font-headline);
	cursor: pointer;
	font-size: 22px;
	list-style: none;
	position: relative;

	&:focus-visible {
		outline: 0;
	}
}

.summary svg {
	transition: all 75ms linear;
}

.summary::marker {
	display: none;
}

@media (hover: hover) {
	.details[open] > summary svg {
		transform: rotate(45deg);
	}

	.details summary:hover svg {
		transform: scale(1.2);
	}

	.details[open] summary:hover svg {
		transform: scale(1.2) rotate(45deg);
	}
}
