.container {
	margin-top: var(--module-spacing-s);
	margin-bottom: var(--module-spacing-s);

	@media screen and (min-width: 1044px) {
		margin-top: var(--module-spacing-l);
		margin-bottom: var(--module-spacing-l);
	}
}

.centered {
	text-align: center;
}

.centered ul,
.centered ol {
	display: inline-block;
	text-align: left;
}
