.container {
	display: grid;
	gap: 32px;
	grid-template-areas:
		"text"
		"image";
}

.imageWrapper {
	aspect-ratio: 1;
	border-radius: 32px;
	grid-area: image;
	overflow: hidden;

	> img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}

.textContent {
	display: flex;
	flex-direction: column;
	gap: 12px;
	grid-area: text;
}

.title {
	hyphens: auto;
}

.button {
	margin-top: 12px;
}

@media (min-width: 800px) {
	.container {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "text image";
	}

	.imageWrapper {
		aspect-ratio: 4 / 3;
	}

	.textContent {
		padding-top: 32px;
	}

	.button {
		align-self: flex-start;
	}

	.flip {
		grid-template-areas: "image text";
	}
}
