.container {
	display: grid;
	gap: 32px;
}

.imageWrapper {
	overflow: hidden;
	border-radius: 32px;
	aspect-ratio: 1;

	> img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}

.textContent {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.button {
	margin-top: 12px;
}

@media (min-width: 800px) {
	.container {
		grid-template-columns: 1fr 1fr;
	}

	.imageWrapper {
		aspect-ratio: 4 / 3;
	}

	.textContent {
		padding-top: 32px;
	}

	.button {
		align-self: flex-start;
	}
}
